broker.name=localhost
#WSS default port 443, TCP default port 1883
broker.port=443
#either wss (secure Websockets) or tcp
broker.protocol=wss
#name of the certificate file used for secure Websockets; this property is ignored for unsecured tcp
security.cafilename=ca.crt
#prefix for the name that the plugin uses to connect to the MQTT broker
clientid=SimulationExecutionListenerMQTTCameoPlugin
# MQTT quality of service
qos=0
maxreconnectattempts=5
#if true, a window is added to the Cameo GUI on project load
plugin.gui=true
#plugin is only started when enabled is set to true
plugin.enabled=true